#cy {
    width: 70%;
    height: 100%;
    margin: 0em auto;
    position: absolute;
}

#zoom-input-form {
    display: block;
    border: none;
    text-align: center;
}

.model-controls {
    text-align: center;
}

.pure-checkbox {
    margin-right: 1em;
}